<div class="w-full max-w-md sm:max-w-lg md:max-w-xl mx-auto p-4 bg-white rounded-md">
    <!-- Logo et boutons -->
    <div class="flex justify-between items-center w-full mb-4">
        <div class="flex items-center space-x-1">
            <a href=""><img src="LearnAssistLogo.png" alt="logo" width="40"></a>
            <span class="text-xl font-bold text-indigo">LearnAssist</span>
        </div>
        <div class="flex flex-col sm:flex-row sm:space-x-2 space-y-2 sm:space-y-0">
            <button (click)="toggleLogin('participant')"
                [class.bg-blue-500]="isParticipantLogin"
                [class.bg-gray-300]="!isParticipantLogin"
                class="w-full sm:w-auto px-5 py-2 rounded-md text-white">
                Participant
            </button>
            <button (click)="toggleLogin('instructor')"
                [class.bg-blue-500]="isInstructorLogin"
                [class.bg-gray-300]="!isInstructorLogin"
                class="w-full sm:w-auto px-5 py-2 rounded-md text-white">
                Formateur
            </button>
        </div>
    </div>
    
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
        Connexion {{ isParticipantLogin ? 'Participant' : 'Formateur' }}
    </h2>
    
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Adresse Email</label>
            <input
                type="email"
                email
                id="email"
                name="email"
                [(ngModel)]="credentials.email"
                #email="ngModel"
                required
                class="mt-1 block w-full px-2 py-1 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-blue-500"
                placeholder="exemple@domaine.com"
            />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-500 text-sm mt-1">
                <p *ngIf="email.errors?.['required']">L'adresse email est requise.</p>
                <p *ngIf="email.errors?.['email']">Veuillez entrer une adresse email valide.</p>
            </div>
        </div>

        <!-- Password -->
        <div class="mt-4">
            <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
            <input
                type="password"
                id="password"
                name="password"
                required
                minlength="8"
                [(ngModel)]="credentials.password"
                #password="ngModel"
                class="mt-1 block w-full px-2 py-1 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-blue-500"
                placeholder="******"
            />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-600 text-sm mt-1">
                Le mot de passe est requis et doit contenir au moins 8 caractères.
            </div>
        </div>

        <div *ngIf="errorMessage" class="text-red-600 text-sm mt-4">
            {{ errorMessage }}
        </div>
    
        <button
            type="submit"
            [disabled]="!loginForm.form.valid"
            class="mt-6 w-full py-2 bg-blue-500 text-white font-semibold disabled:opacity-50 disabled:cursor-not-allowed rounded-md shadow-sm hover:bg-blue-600">
            Se connecter
        </button>
    </form>
  
    <p class="mt-4 text-center text-sm text-gray-600">
        Pas encore inscrit ?
        <a [routerLink]="isParticipantLogin ? '/participant-registration' : '/instructor-registration'"
           class="text-blue-500 hover:underline">Créer un compte</a>
    </p>
</div>
