::ng-deep pre {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-x: auto !important;
  max-width: 100% !important;
}

::ng-deep code {
  word-break: break-word !important;
}

